html{
    font-size: 20px;
}
body{
    background-color: aliceblue;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 800px;
    padding: 1rem;
}

th, td, caption{
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}