<form action="/process" method="POST">
    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
    <input type="text" name="favColor" placeholder="Favourite Color">
    <button type="submit">Submit</button>
</form>