.boxes{
    width: 220px;
    height: 220px;
    border: 8px solid black;
    border-radius: 20%;
    cursor: pointer;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
  
.game-over {
    background-color: red;
    opacity: 0.8;
}
  