.swatch_1{
    background: #e4e7eb;
}
.swatch_2{
    background: #634834;
}
.swatch_3{
    background: #b0a599;
}
.swatch_4{
    background: #778289;
}
.swatch_5{
    background: #8d7157;
}
.swatch_6{
    background: #160f0a;
}
.swatch_7{
    background: #a68c6e;
}